<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posicionamento de Navios</title>
    <link rel="stylesheet" href="../components/placeShip.css">
</head>

<body>
    <div class="ship-placement-container" id="ship-placement-card">
        <div class="ship-placement-box">
            <div class="ship-placement-header">
                <p>Posicione os navios!</p>
            </div>
            <div class="ship-placement-body">
                <div class="ship-name" id="current-ship-name">
                    <p>Porta-aviões</p>
                </div>

                <div class="ship-visual" id="ship-visual">
                </div>

            </div>

            <div class="direction-toggle">
                <button class="direction-btn active" id="horizontal-btn">Horizontal</button>
                <button class="direction-btn" id="vertical-btn">Vertical</button>
            </div>
        </div>
    </div>
</body>

</html>